<mat-progress-bar *ngIf="showprogress" mode="indeterminate"></mat-progress-bar>
<div style="height: auto">
  <div>
    <h1>Orders To Ship</h1>
  </div>
  <br />
  <div>
    <table mat-table [dataSource]="orders" class="mat-elevation-z8">
      <ng-container matColumnDef="orderId">
        <th mat-header-cell *matHeaderCellDef>Order Id</th>
        <td mat-cell *matCellDef="let element">{{ element.orderId }}</td>
      </ng-container>

      <ng-container matColumnDef="product">
        <th mat-header-cell *matHeaderCellDef>Product</th>
        <td mat-cell *matCellDef="let element">
          {{ element.product.productName }}
        </td>
      </ng-container>

      <ng-container matColumnDef="orderDate">
        <th mat-header-cell *matHeaderCellDef>Order Date</th>
        <td mat-cell *matCellDef="let element">{{ element.orderDate }}</td>
      </ng-container>

      <ng-container matColumnDef="user">
        <th mat-header-cell *matHeaderCellDef>User Details</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="fetchUserDetials(element)">
            <mat-icon>launch</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="installments">
        <th mat-header-cell *matHeaderCellDef>Installments</th>
        <td mat-cell *matCellDef="let element">{{ element.installments }}</td>
      </ng-container>

      <ng-container matColumnDef="emiAmount">
        <th mat-header-cell *matHeaderCellDef>Emi Amount</th>
        <td mat-cell *matCellDef="let element">
          {{ element.emiAmount | currency: "INR" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="amountDue">
        <th mat-header-cell *matHeaderCellDef>Amount Due</th>
        <td mat-cell *matCellDef="let element">
          {{ element.amountDue | currency: "INR" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="orderCost">
        <th mat-header-cell *matHeaderCellDef>Order Cost</th>
        <td mat-cell *matCellDef="let element">
          {{ element.orderCost | currency: "INR" }}
        </td>
      </ng-container>

      <!-- <ng-container matColumnDef="isShipped">
            <th mat-header-cell *matHeaderCellDef>Shipping</th>
            <td mat-cell *matCellDef="let element">{{ element.shipped}}</td>
          </ng-container> -->

      <ng-container matColumnDef="isShipped">
        <th mat-header-cell *matHeaderCellDef>Ship</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="shipProduct(element)">
            <mat-icon
              (click)="toggleClass()"
              [ngClass]="shipped ? 'iconColor2' : 'iconColor1'"
              >check_circle_outline</mat-icon
            >
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
