<div>
  <mat-card>
    <mat-toolbar color="primary">
      <span class="title-center">Add New Card Type</span> </mat-toolbar
    ><br />

    <form fxLayoutAlign="stretch" fxLayout="column">
      <mat-form-field>
        <mat-label>Card Id </mat-label>
        <input matInput />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Card Type Name</mat-label>
        <input matInput type="text" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Credit Amount</mat-label>
        <input matInput type="text" />
      </mat-form-field>

      <button mat-raised-button mat-dialog-close color="accent" type="submit">
        Add
      </button>
    </form>
  </mat-card>
</div>
