<mat-toolbar color="primary"
  >{{ rowData.firstname }} {{ rowData.lastname }}</mat-toolbar
><br /><br />

<div>
  <table>
    <h4>Personal Details</h4>
    <tr>
      <th>First Name</th>
      <td>{{ rowData.firstname }}</td>
    </tr>

    <tr>
      <th>Last Name</th>
      <td>{{ rowData.lastname }}</td>
    </tr>
    <tr>
      <th>Email</th>
      <td>{{ rowData.email }}</td>
    </tr>

    <tr>
      <th>Phone No.</th>
      <td>{{ rowData.phoneNo }}</td>
    </tr>
    <tr>
      <th>Company Name</th>
      <td>{{ rowData.companyName }}</td>
    </tr>
    <tr>
      <th>Company Address</th>
      <td>{{ rowData.companyAddress }}</td>
    </tr>
    <tr>
      <th>Designation</th>
      <td>{{ rowData.designation }}</td>
    </tr>
    <h4>Bank Details</h4>
    <tr>
      <th>Account No</th>
      <td>{{ rowData.bankDetails.account_number }}</td>
    </tr>

    <tr>
      <th>Bank Name</th>
      <td>{{ rowData.bankDetails.bank.bankName }}</td>
    </tr>

    <tr>
      <th>IFSC Code</th>
      <td>{{ rowData.bankDetails.ifsc_code }}</td>
    </tr>

    <h4>Address</h4>
    <tr>
      <th>Address</th>
      <td>
        {{ rowData.address.addressLine1 }}, {{ rowData.address.addressLine2 }},
        {{ rowData.address.city }}
      </td>
    </tr>

    <tr>
      <th>PinCode</th>
      <td>{{ rowData.address.pinCode }}</td>
    </tr>
    <h4>EMI Card Information</h4>
    <tr>
      <th>EMI Card No.</th>
      <td>{{ rowData.card.emiCardNo }}</td>
    </tr>

    <tr>
      <th>Card Type</th>
      <td>{{ rowData.card.cardType.cardTypeName }}</td>
    </tr>

    <h4>Documents</h4>
    <tr>
      <th>
        <img
          style="width: 300px; height: auto"
          src="http://localhost:9090/downloads/{{ rowData.panCard }}"
        />
      </th>
      <td>
        <img
          style="width: 300px; height: auto"
          src="http://localhost:9090/downloads/{{ rowData.adharCard }}"
        />
      </td>
    </tr>
  </table>
  <br />

  <div *ngIf="!rowData.isApproved" align="end">
    <button
      mat-raised-button
      (click)="denyApplication()"
      style="background-color: #f44336"
    >
      Deny
    </button>
    <button
      mat-raised-button
      style="background-color: #4caf50"
      (click)="approveUser(rowData.userId)"
    >
      Approve
    </button>
  </div>
</div>
