<div class="container">
  <h1 class="mat-display-1 header">Frequenctly Asked Questions :</h1>
  <div>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>How do i apply for card?</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-panel-description>
          Click on Register Link on the navigation bar, Enter your details, And
          provide Aadhar card and Pan card images to apply for EZEmi card. You
          will receive an email, once your details are Verified. Then you can
          activate your EzEmi card and start using it.
        </mat-panel-description>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            What are the Prerequisite for applying for card?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-panel-description>
          (a) is 18 (eighteen) years of age <br />
          (b) is of sound mind.<br />
          (c) Indian Nationality.<br />
          (d) Required Documents - Aadhar card, Pan card.<br />
          (e) has source of income.<br />
          (f) has read, understood and agrees to be bound by these terms.
        </mat-panel-description>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Is there any hidden charges?</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-panel-description>
          No. EZemi is completely transparent with it's customers. Every
          transaction made will be completely known to customer.
        </mat-panel-description>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>What is my emi card limit?</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-panel-description>
          Credit limit of EZemi Gold card is 1 Lakh, and EZemi Platinum card is
          2 Lakh.
        </mat-panel-description>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>How is the emi amount repayed?</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-panel-description>
          The EZemi card is linked with the user's bank account. The when user
          pays the money will be deducted from bank account.
        </mat-panel-description>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Can i choose the no. of emi's or installments?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-panel-description>
          Yes, you can choose the number of months you want to pay emi while
          buying the product.
        </mat-panel-description>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
<br />
