.parent{
    min-height: 570px;
     
}
.card-conatainer{
    width: 90%;
    margin-left: 5%;
    margin-right:5%;
    
}
.example-card{
    margin: 20px;
}
.msg{
    margin-left: 50px;
    font-size: large;
}