div {
    height: 90vh;
    display: flex;
    flex-direction: column;
  }
  
  h1 {
    margin: auto;
    color: green;
    text-align: center;
  }
  
  img {
    margin: auto;
    min-width: 250px;
    max-width: 350px;
  }
  