<div style="height: 90vh">
  <div class="mat-elevation-z8">
    <mat-card>Current Orders</mat-card>
    <table mat-table [dataSource]="dataSourceUnpaid">
      <ng-container matColumnDef="OrderId">
        <th mat-header-cell *matHeaderCellDef>Order Id</th>
        <td mat-cell *matCellDef="let orders">{{ orders.orderId }}</td>
      </ng-container>

      <ng-container matColumnDef="Cost">
        <th mat-header-cell *matHeaderCellDef>Cost</th>
        <td mat-cell *matCellDef="let orders">
          {{ orders.orderCost | currency: "INR" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="Months">
        <th mat-header-cell *matHeaderCellDef>Months</th>
        <td mat-cell *matCellDef="let orders">{{ orders.installments }}</td>
      </ng-container>

      <ng-container matColumnDef="EmiAmount">
        <th mat-header-cell *matHeaderCellDef>EMi Amount</th>
        <td mat-cell *matCellDef="let orders">
          {{ orders.emiAmount | currency: "INR" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="AmountDue">
        <th mat-header-cell *matHeaderCellDef>Amount Due</th>
        <td mat-cell *matCellDef="let orders">
          {{ orders.amountDue | currency: "INR" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="PayNow">
        <th mat-header-cell *matHeaderCellDef>Pay Now</th>
        <td mat-cell *matCellDef="let orders">
          <button mat-raised-button color="primary">Pay Now</button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <!-- <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
  ></mat-paginator> -->
  </div>

  <div class="mat-elevation-z8">
    <mat-card>Completed Orders</mat-card>
    <table mat-table [dataSource]="dataSourcepaid">
      <ng-container matColumnDef="OrderId">
        <th mat-header-cell *matHeaderCellDef>Order Id</th>
        <td mat-cell *matCellDef="let orders">{{ orders.orderId }}</td>
      </ng-container>

      <ng-container matColumnDef="Cost">
        <th mat-header-cell *matHeaderCellDef>Cost</th>
        <td mat-cell *matCellDef="let orders">
          {{ orders.orderCost | number: "1.2-2" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="Months">
        <th mat-header-cell *matHeaderCellDef>Months</th>
        <td mat-cell *matCellDef="let orders">{{ orders.emiType }}</td>
      </ng-container>

      <ng-container matColumnDef="EmiAmount">
        <th mat-header-cell *matHeaderCellDef>EMi Amount</th>
        <td mat-cell *matCellDef="let orders">
          {{ orders.emiAmount | number: "1.2-2" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="AmountDue">
        <th mat-header-cell *matHeaderCellDef>Amount Due</th>
        <td mat-cell *matCellDef="let orders">{{ orders.amountDue }}</td>
      </ng-container>

      <ng-container matColumnDef="PayNow">
        <th mat-header-cell *matHeaderCellDef>Completed</th>
        <td mat-cell *matCellDef="let orders">
          <button mat-raised-button disabled color="primary">Completed</button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <!-- <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
  ></mat-paginator> -->
  </div>
</div>
