div {
  height: 90vh;
  display: flex;
  flex-direction: column;
}

.mat-display-1 {
  margin: auto;
  color: green;
  /* padding: 5px; */
  text-align: center;
}

img {
  margin: auto;
  min-width: 250px;
  max-width: 350px;
}
