<div class="container">

<mat-card class="example-card">
    <mat-card-header class="pay-card-header" >
      <mat-card-title> </mat-card-title>

    </mat-card-header>
    <!-- <div class="pay-card-header"></div> -->
    <mat-card-content class="pay-card-content">

       
        <mat-card class="inner-card">
            <div style="background-color: rgba(41, 41, 41, 0.555); height: 300px; margin-bottom: 10px;"></div>
            <mat-card-subtitle>An OTP has been sent to your E-Mail</mat-card-subtitle>
            <mat-form-field appearance="outline">
              <mat-label> Enter OTP</mat-label>
              <input matInput placeholder="OTP">
            </mat-form-field>
            <mat-card-actions align="end">
              <button mat-button mat-raised-button color="accent" style="margin-right: 55px; width: 90px;" >Pay</button>
            </mat-card-actions>
          </mat-card>
    </mat-card-content>
    
    <mat-card-footer class="pay-card-footer">


    </mat-card-footer>
  </mat-card>
</div>