.main-div mat-card {
  padding: 0px;
}
.login-form {
  padding: 20px;
}
a {
  text-decoration: underline blue;
  cursor: pointer;
}

a:hover {
  text-decoration: underline hotpink;
}

.card {
  width: 350px;
}

@media (max-width: 600px) and (min-width: 300px) {
  .card {
    width: 300px;
  }
}
