<div style="display: flex; height: 500px; width: 50%; margin: auto">
  <div style="align-self: center; margin: auto" class="main-div">
    <mat-card style="width: 350px">
      <mat-toolbar style="padding: 40px" color="primary">Login</mat-toolbar>
      <div></div>
      <form
        fxLayoutAlign="stretch"
        fxLayout="column"
        class="login-form"
        (ngSubmit)="login()"
      >
        <div *ngIf="invalidCredentials" style="color: red">
          Invalid Login credentials
        </div>
        <mat-form-field>
          <input
            matInput
            placeholder="Username"
            required
            name="emailId"
            [(ngModel)]="logindto.emailId"
          />
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            type="password"
            placeholder="Password"
            name="password"
            [(ngModel)]="logindto.password"
            required
          />
        </mat-form-field>
        <a href="">Forgot password?</a> <br />
        <button
          style="margin-top: 50px; margin-bottom: 50px"
          mat-raised-button
          type="submit"
          color="accent"
        >
          Login
        </button>
      </form>
    </mat-card>
  </div>
</div>
