<div style="display: flex; height: 500px; width: 70%; margin: auto">
  <div style="align-self: center; margin: auto" class="main-div">
    <mat-card class="card">
      <mat-toolbar style="padding: 20px" color="primary">Login</mat-toolbar>
      <div></div>
      <form
        fxLayoutAlign="stretch"
        fxLayout="column"
        class="login-form"
        (ngSubmit)="login()"
      >
        <div *ngIf="invalidCredentials" style="color: red">
          Invalid Login credentials
        </div>
        <mat-form-field>
          <input
            matInput
            placeholder="Username"
            required
            name="emailId"
            [(ngModel)]="logindto.emailId"
          />
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            type="password"
            placeholder="Password"
            name="password"
            [(ngModel)]="logindto.password"
            [type]="hide1 ? 'password' : 'text'"
            required
          />
          <mat-icon matSuffix (click)="hide1 = !hide1">{{
            hide1 ? "visibility_off" : "visibility"
          }}</mat-icon>
        </mat-form-field>
        <a (click)="forgotpass()">Forgot password?</a>
        <br />
        <button
          style="margin-top: 30px; margin-bottom: 50px"
          mat-raised-button
          type="submit"
          color="accent"
        >
          Login
        </button>
      </form>
    </mat-card>
  </div>
</div>
