
/* .c1{
    height: 50px;
    width: 100%;
    background-color: blue; }*/


button{
    margin:5px;
}


.cnl{
    background-color: red;
    color: white;
    margin-top: 20px;

}
.cnf{
    margin-top: 20px;
}