<div  class="compHeight">

  <div class="part1">
    <button
      class="btn"
      mat-raised-button
      color="accent"
      (click)="openAddBankForm()"
    >
      Add New Bank
    </button>
  </div>
  <br /><br />

  <div>
    <table mat-table [dataSource]="banks" class="mat-elevation-z8">
      <ng-container matColumnDef="BankId">
        <th mat-header-cell *matHeaderCellDef>Bank Id</th>
        <td mat-cell *matCellDef="let element">{{ element.bankId }}</td>
      </ng-container>

      <ng-container matColumnDef="BankName">
        <th mat-header-cell *matHeaderCellDef>Bank Name</th>
        <td mat-cell *matCellDef="let element">{{ element.bankName }}</td>
      </ng-container>

      <!-- <span class="distance"></span>
      <ng-container matColumnDef="deleteBank">
        <th mat-header-cell *matHeaderCellDef>Delete Bank</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button class="icon_color">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container> -->

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
