<div>
  <!-- <div class="c1"></div> -->
  <div mat-dialog-content>
    <div align="center">
      <h2 mat-dialog-title>
        Your next installment of order {{ order.orderId }} is
        {{ order.emiAmount | currency: "INR" }}
      </h2>
      <h2>Click on pay to Pay</h2>
      <br />
      Enter Otp sent to your email :
      <input
        type="password"
        [(ngModel)]="otp"
        (input)="verifyOtp()"
        placeholder="OTP"
        required
      />
      <br />
      <br />
      <button
        mat-raised-button
        color="primary"
        [disabled]="!verified"
        (click)="payemi()"
      >
        Pay
      </button>
      <button mat-button mat-button (click)="close()">Cancel</button>
      <div></div>
    </div>
  </div>
</div>
