mat-sidenav {
  width: 280px;
  padding: 15px;
}
.mat-drawer {
  background-color: #023075;
  color: #fff;
}
.main-content {
  padding: 20px;
}

.navButton {
  font-size: large;
}

.pagesize {
  min-height: 80vh;
  width: 100%;
}
