<mat-sidenav-container class="pagesize" fxShow="true">
  <mat-sidenav mode="side" opened #sidenav position="start" fxHide.lt-md>
    <br />

    <button
      mat-button
      routerLink="manageorders"
      routerLinkActive
      class="navButton"
    >
      New Orders
    </button>
    <br />

    <a
      mat-button
      routerLink="manageproducts"
      routerLinkActive
      class="navButton"
    >
      Product
    </a>
    <br />
    <a
      mat-button
      routerLink="managecategory"
      routerLinkActive
      class="navButton"
    >
      Category</a
    ><br />
    <a
      mat-button
      routerLink="manageBank"
      routerLinkActive="active"
      class="navButton"
    >
      Bank</a
    ><br />
    <a
      mat-button
      routerLink="manageCards"
      routerLinkActive="active"
      class="navButton"
    >
      Card</a
    ><br />
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
