<div>
  <div>
    <h1>Our Customers</h1>
    <table mat-table [dataSource]="approvedUser" class="mat-elevation-z8">
      <ng-container matColumnDef="userId">
        <th mat-header-cell *matHeaderCellDef>User Id</th>
        <td mat-cell *matCellDef="let element">{{ element.userId }}</td>
      </ng-container>

      <ng-container matColumnDef="firstname">
        <th mat-header-cell *matHeaderCellDef>First Name</th>
        <td mat-cell *matCellDef="let element">{{ element.firstname }}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>User Email</th>
        <td mat-cell *matCellDef="let element">{{ element.email }}</td>
      </ng-container>

      <ng-container matColumnDef="phoneNo">
        <th mat-header-cell *matHeaderCellDef>Phone No.</th>
        <td mat-cell *matCellDef="let element">{{ element.phoneNo }}</td>
      </ng-container>

      <ng-container matColumnDef="viewUser">
        <th mat-header-cell *matHeaderCellDef>View</th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-icon-button
            class="icon_color"
            (click)="viewUser(element)"
          >
            <mat-icon>launch</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <!-- <div style="width: 300px"></div> -->
</div>
