.filter{
  background-color: rgb(220, 241, 241);
  max-width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}
.catfilter{
  margin: 15px;
  margin-left: 50px;
  
}
.sortprice{
  margin: 15px;
  margin-left: 50px;
}
.search{
  margin: 15px;
  margin-left: 50px;
  
}
.ff{
  display: flex;
  width: 30%;
}

.container {
  max-width: 80%;
  background-color: rgb(220, 241, 241);
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  margin: 10px;
}

.example-card {
  max-width: 260px;
  transition: box-shadow .7s;
    border: 1px solid #ccc;
    background: #fff;
    float: left;
    -webkit-transition: .5s all;   
    -webkit-transition-delay: 5s; 
    -moz-transition: .5s all;   
    -moz-transition-delay: 5s; 
    -ms-transition: .5s all;   
    -ms-transition-delay: 5s; 
    -o-transition: .5s all;   
    -o-transition-delay: 5s; 
    transition: .1s all;   
    transition-delay: 0.1s; 

}
.example-card:hover{
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.2); 
 max-width: 280px;
 -webkit-transition-delay: 1s;
 -moz-transition-delay: 0s;
 -ms-transition-delay: 0s;
 -o-transition-delay: 0s;
 transition-delay: 0s;
}


mat-card-content {
  font-size: 1.2em;
}
