<div class="container">
  <div class="card" *ngFor="let p of [1,2,3,4,5,6,]">
    <mat-card class="example-card" (click)="onClick(p.productId)">
      <mat-card-header>
        <mat-card-title>Acer Predator Helios 300 XT</mat-card-title>
        <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
      </mat-card-header>
      <img
        mat-card-image
        src="../assets/images/pred23.png"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content> </mat-card-content>
      <mat-card-actions align="end">
        <button mat-raised-button color="accent">View</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>