<div class="bg">
  <div class="welcome-content">
    <h1 class="header mat-display-2">Welcome to FinanceApp</h1>

    <div class="discription">
      <p>
        The company let's you shop anything, <br />
        even on EMI without any debit or credit card.
      </p>

      <p>
        <button
          class="gsBtn"
          mat-raised-button
          color="accent"
          (click)="ezemistore()"
        >
          <h2>EzEmi store</h2>
        </button>
      </p>
    </div>
  </div>
</div>
<div>
  <h1>Hello</h1>
  <h1>Hello</h1>
  <h1>Hello</h1>
</div>
