<div class="bg">
  <div class="welcome-content">
    <h1 class="header mat-display-2">Welcome to FinanceApp</h1>

    <div class="discription">
      <p>
        The company let's you shop anything, <br />
        even on EMI without any debit or credit card.
      </p>

      <p>
        <button class="gsBtn" mat-raised-button color="accent" (click)="ezemistore()">
          <h2>EzEmi store</h2>
        </button>
      </p>
    </div>
  </div>
</div>
<div>
  
  <div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="20%" *ngFor="let num of [1,2,3]">
        <mat-toolbar color="accent">
          About Us
        </mat-toolbar>
        <mat-card class="mat-elevation-z4">
        <mat-card-title> About Us </mat-card-title>
        
          
         
        </mat-card>
 