<div>
    <mat-card>  
    <mat-toolbar color="primary">
        <span  class="title-center">Add New Bank</span>
      </mat-toolbar><br><br>

        <form (ngSubmit)="submitBank()" fxLayoutAlign="stretch" fxLayout="column">

            <mat-form-field >
                <mat-label>Bank Name</mat-label>
                <input matInput type="text" name="bankName" [(ngModel)]="bank.bankName">
            </mat-form-field><br><br>      

              <button mat-raised-button mat-dialog-close color="accent" type="submit">Add</button>
          </form>
    </mat-card>
</div>

