mat-sidenav {
  padding: 15px;
}
.mat-drawer {
  background-color: #023075;
  color: #fff;
}
.main-content {
  padding: 20px;
}

.navButton {
  font-size: large;
}

.pagesize {
  height: 85vh;
  width: 100%;
}
