<div class="container">
  <div class="info">
    <!-- <div class="u-info"> -->
    <!-- <div style="text-align: center">
      <img
        src="../assets/images/svgs/male_avatar_.svg"
        style="height: 200px; width: auto"
      />
    </div> -->
    <h1 style="margin-top: 30px; font-size: 30px; margin-bottom: 40px">
      {{ user.firstname }} {{ user.lastname }}
    </h1>
    <h3>Email :{{ user.email }}</h3>
    <h3>Phone : {{ user.phoneNo }}</h3>
    <h3>
      Address: {{ user.address.addressLine1 }},{{
        user.address.addressLine2
      }},{{ user.address.city }},{{ user.address.pinCode }} <br />
      <button
        mat-raised-button
        style="margin-top: 20px"
        color="accent"
        (click)="update()"
      >
        Edit Address
      </button>
    </h3>

    <br />
    <br />
    <!-- </div> -->
    <!-- <mat-divider></mat-divider> -->
    <!-- <div class="bank-info"> -->
    <h1>Bank Details :</h1>
    <h3>Bank :{{ user.bankDetails.bank.bankName }}</h3>
    <h3>Account no :{{ user.bankDetails.account_number }}</h3>
    <h3>IFSC :{{ user.bankDetails.ifsc_code }}</h3>
    <br />
    <!-- </div> -->
  </div>
  <div class="container-card">
    <h3
      class="cardState active"
      [ngStyle]="{ color: user.card.isActivated ? 'green' : 'red' }"
    >
      Card status :{{ cstatus }}
    </h3>
    <div *ngIf="!user.card.isActivated">
      <h3>Hi {{ user.firstname }} your card is inactive</h3>
      <button
        mat-raised-button
        color="accent"
        (click)="openActivateCardComponent(user.card)"
      >
        Activate Now
      </button>
    </div>
    <div
      [class.gold-img]="user.card.cardType.cardTypeId === 1"
      [class.plat-img]="user.card.cardType.cardTypeId === 2"
    >
      <div class="card-content">
        <h2 class="card-num">{{ outStrint }}</h2>
        <table class="vfvu">
          <tr>
            <!-- <td>Valid from</td> -->
            <td>Valid upto</td>
          </tr>
          <tr>
            <!-- <td>10/10</td> -->
            <td>{{ user.card.expiryDate }}</td>
          </tr>
        </table>
        <h2 class="u-name">{{ user.firstname }} {{ user.lastname }}</h2>
      </div>
    </div>
  </div>
  <div class="credit-info">
    <h2 class="cic" style="font-size: x-large">
      Credit left:{{ user.card.creditLeft | currency: "INR":"symbol-narrow" }}
    </h2>
  </div>
  <!-- <mat-divider></mat-divider> -->
</div>
