<div class="container">
  <div class="info">
    <!-- <div class="u-info"> -->
    <div style="text-align: center">
      <img
        src="../assets/images/svgs/male_avatar_.svg"
        style="height: 200px; width: auto"
      />
    </div>
    <h3>Email : max@brown.com</h3>
    <h3>Phone : 987654986</h3>
    <h3>Address: 03 Room , Baker Street</h3>
    <!-- </div> -->
    <!-- <mat-divider></mat-divider> -->
    <!-- <div class="bank-info"> -->
    <h1>Bank Details</h1>
    <h3>Bank :ICICI</h3>
    <h3>Account no :09100110010111</h3>
    <h3>IFSC :ICICI8792</h3>
    <br />
    <!-- </div> -->
  </div>
  <div class="container-card">
    <h3 class="cardState active">Active</h3>
    <div class="card-img">
      <div class="card-content">
        <h2 class="card-num">5768 6868 8755 3454</h2>
        <table class="vfvu">
          <tr>
            <td>Valid from</td>
            <td>Valid upto</td>
          </tr>
          <tr>
            <td>10/10</td>
            <td>10/20</td>
          </tr>
        </table>
        <h2 class="u-name">Max Baker</h2>
      </div>
    </div>
  </div>
  <div class="credit-info">
    <h2>Credit left:</h2>
  </div>
  <!-- <mat-divider></mat-divider> -->
</div>
