.container {
  max-width: 80%;
  background-color: rgb(244, 248, 248);
  margin: 2% 10%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.product-card {
  margin: 10px;
  flex: 1;
}
.example-card {
  max-width: 400px;
}
.details {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}
.details-card {
  margin-top: 110px;
  margin-right: 50px;
  flex: 1;
}
.prod-name {
  margin-top: 30px;
}
.prod-dt {
  margin-right: 10px;
}
.btns {
  display: flex;
  flex-direction: column;
}

.select-btn {
  width: 50%;
}
.mt-sel {
  /* margin-top:5px; */
  width: 85%;
}
.buy-btn {
  margin-top: 35px;
  width: 30%;
  height: auto;
}
