<div class="container">
  <div class="email-container" *ngIf="emailsend">
    <mat-card>
      <mat-card-subtitle>Enter your registered E-Mail</mat-card-subtitle>
      <mat-form-field appearance="outline">
        <mat-label> Enter E-mail</mat-label>
        <input
          matInput
          #em="ngModel"
          [(ngModel)]="changePassDto.email"
          placeholder="Email"
          required
        />
      </mat-form-field>
      <mat-card-actions>
        <button
          [disabled]="em.invalid"
          mat-button
          mat-raised-button
          color="accent"
          (click)="toggleToOtp()"
        >
          Get OTP
        </button>
        <div *ngIf="doesnotexist" style="color: rgb(255, 145, 0)">
          Email does not exist
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="otp-container" *ngIf="otpreceived">
    <mat-card>
      <mat-card-subtitle>An OTP has been sent to your E-Mail</mat-card-subtitle>
      <mat-form-field appearance="outline">
        <mat-label> Enter OTP</mat-label>
        <input
          #otp="ngModel"
          [(ngModel)]="enteredOtp"
          matInput
          placeholder="OTP"
          required
        />
      </mat-form-field>
      <mat-card-actions>
        <button
          [disabled]="otp.invalid"
          mat-button
          mat-raised-button
          color="accent"
          (click)="verifyOtp()"
        >
          Submit
        </button>
        <mat-error *ngIf="showerror"> Invalid otp </mat-error>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="pass-container" *ngIf="otpverified">
    <mat-card>
      <mat-card-subtitle>Enter New Password</mat-card-subtitle>
      <mat-form-field appearance="outline">
        <mat-label> New Password</mat-label>
        <input
          matInput
          #psw="ngModel"
          [(ngModel)]="changePassDto.newPassword"
          placeholder="Password"
          [type]="hide ? 'text' : 'password'"
          pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
        />
        <mat-icon matSuffix (click)="hide = !hide">{{
          hide ? "visibility" : "visibility_off"
        }}</mat-icon>
      </mat-form-field>
      <div style="color: red" *ngIf="psw.invalid">
        <div *ngIf="psw.errors.pattern">
          Password should have Minimum eight characters, at least one uppercase
          letter, one lowercase letter, one number and one special character
        </div>
        <div *ngIf="psw.errors.required">Please enter password</div>
      </div>

      <mat-form-field appearance="outline">
        <mat-label> Confirm Password</mat-label>
        <input
          type="password"
          [(ngModel)]="confirmPass"
          (input)="checkpass()"
          matInput
          placeholder="Confirm Password"
          [type]="hide1 ? 'text' : 'password'"
        />
        <mat-icon matSuffix (click)="hide1 = !hide1">{{
          hide1 ? "visibility" : "visibility_off"
        }}</mat-icon>
      </mat-form-field>
      <mat-error *ngIf="checkpass()"> Password did not match</mat-error>

      <mat-card-actions>
        <button
          [disabled]="checkpass() || psw.invalid"
          mat-button
          mat-raised-button
          color="accent"
          (click)="changePass()"
        >
          Submit
        </button>
      </mat-card-actions>

      <div *ngIf="passChanged" style="color: green">
        Your password has been changed successfully.<br />
        Click on Login on Navigation bar to Login.
      </div>
    </mat-card>
  </div>
</div>
