<div fxLayoutAlign="center top" fxFlexFill class="main-div">
  <mat-card style="height: auto" fxFlex="70">
    <h1 style="margin-left: 20px" class="mat-display-1">
      Application for your EzEmi Card
    </h1>
    <!-- <mat-toolbar color="primary">Registration</mat-toolbar> -->
    <div fxLayoutAlign="stretch" fxLayout="column" class="register-form">
      <form #form="ngForm" [formGroup]="formGroup">
        <mat-vertical-stepper
          #linearVerticalStepper="matVerticalStepper"
          formArrayName="formArray"
          [linear]="true"
        >
          <!--Basic details (fname, lname, email)-->
          <mat-step formGroupName="0" [stepControl]="formArray?.get([0])">
            <ng-template matStepLabel>Basic user Details</ng-template>
            <p>Enter name as per your government approved Id</p>
            <mat-form-field>
              <mat-label>First name</mat-label>
              <input
                matInput
                formControlName="firstNameFormCtrl"
                [(ngModel)]="user.firstname"
                required
              />
              <mat-error>{{ formerrors.firstNameFormCtrl }}</mat-error>
            </mat-form-field>
            <br />

            <mat-form-field>
              <mat-label>Last name</mat-label>
              <input
                matInput
                formControlName="lastNameFormCtrl"
                [(ngModel)]="user.lastname"
                required
              />
              <mat-error>{{ formerrors.lastNameFormCtrl }}</mat-error>
            </mat-form-field>
            <br />

            <mat-form-field>
              <mat-label>Phone number</mat-label>
              <input
                matInput
                formControlName="phoneNumber"
                [(ngModel)]="user.phoneNo"
                required
              />
              <mat-error>{{ formerrors.phoneNumber }}</mat-error>
            </mat-form-field>
            <br />

            <mat-form-field>
              <mat-label>Email</mat-label>
              <input
                matInput
                formControlName="emailFormCtrl"
                [(ngModel)]="user.email"
                required
              />
              <mat-error>{{ formerrors.emailFormCtrl }}</mat-error>
              <!-- <mat-error *ngIf="emailFormCtrl.errors.email"></mat-error> -->
            </mat-form-field>
            <br />

            <!-- <mat-form-field>
              <mat-label>Pan number</mat-label>
              <input matInput formControlName="panFormCtrl" required />
              <mat-error>This field is required</mat-error>
            </mat-form-field> -->

            <div>
              <!-- <button mat-button matStepperNext (click)="getOtp()">Next</button> -->
              <button mat-button matStepperNext>Next</button>
            </div>
          </mat-step>

          <!--Otp email verification-->
          <mat-step formGroupName="1" [stepControl]="formArray?.get([1])">
            <ng-template matStepLabel>Email verification</ng-template>

            <div
              *ngIf="otpsent; then otpsentblock; else otpnotyetsentblock"
            ></div>

            <ng-template #otpnotyetsentblock>
              <div *ngIf="otp == ''">
                <button color="primary" mat-raised-button (click)="getOtp()">
                  Get otp
                </button>
              </div>
              <div *ngIf="otp == 'FAILED'">
                <p>Email Id: {{ email }} already Exists</p>
              </div>
            </ng-template>

            <ng-template #otpsentblock>
              <div>
                <p>The otp has been sent to your email Id: {{ email }}</p>
              </div>
            </ng-template>

            <mat-form-field>
              <mat-label>OTP</mat-label>

              <input
                matInput
                type="password"
                formControlName="otpFormCtrl"
                required
              />
              <mat-error>This field is required</mat-error>
            </mat-form-field>
            <div></div>
            <br />
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </mat-step>

          <!--Password-->
          <mat-step formGroupName="2" [stepControl]="formArray?.get([2])">
            <ng-template matStepLabel>Password</ng-template>
            <mat-form-field>
              <mat-label>Password</mat-label>
              <input
                matInput
                formControlName="passwordFormCtrl"
                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                matInput
                [(ngModel)]="user.password"
                [type]="hide ? 'password' : 'text'"
                required
                [(ngModel)]="p1"
                required
              />
              <mat-icon matSuffix (click)="hide = !hide">{{
                hide ? "visibility_off" : "visibility"
              }}</mat-icon>
              <mat-error>{{ formerrors.passwordFormCtrl }}</mat-error>
              <!-- <mat-error *ngIf=""></mat-error> -->
            </mat-form-field>
            <br />

            <mat-form-field>
              <mat-label>Confirm Password</mat-label>
              <input
                matInput
                [type]="hide1 ? 'password' : 'text'"
                formControlName="confirmPasswordFormCtrl"
                [(ngModel)]="p2"
                (input)="checkpass()"
                required
              />
              <mat-icon matSuffix (click)="hide1 = !hide1">{{
                hide1 ? "visibility_off" : "visibility"
              }}</mat-icon>
              <mat-error>{{ formerrors.confirmPasswordFormCtrl }}</mat-error>
            </mat-form-field>
            <mat-error *ngIf="passmismatch"> Password did not match </mat-error>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </mat-step>

          <mat-step formGroupName="3" [stepControl]="formArray?.get([3])">
            <ng-template matStepLabel>
              <div>Bank Details</div>
            </ng-template>

            <mat-form-field>
              <mat-label>Bank Name</mat-label>
              <mat-select
                placeholder="Select Bank"
                formControlName="bankNameFormCtrl"
                required
                [(ngModel)]="user.bankId"
              >
                <mat-option>select</mat-option>
                <mat-option *ngFor="let b of banks" value="{{ b.bankId }}">
                  {{ b.bankName }}
                </mat-option>
                <!-- <mat-option value="1">SBI</mat-option>
                <mat-option value="2">ICICI</mat-option>
                <mat-option value="3">HDFC</mat-option>
                <mat-option value="4">UNION BANK</mat-option>
                <mat-option value="5">AXIS</mat-option> -->
              </mat-select>
              <mat-error>{{ formerrors.bankNameFormCtrl }}</mat-error>
            </mat-form-field>
            <br />

            <mat-form-field>
              <mat-label>Bank Account number</mat-label>
              <input
                matInput
                formControlName="accFormCtrl"
                [(ngModel)]="user.account_number"
                required
              />
              <mat-error>{{ formerrors.accFormCtrl }}</mat-error>
            </mat-form-field>
            <br />

            <mat-form-field>
              <mat-label>Ifsc code</mat-label>
              <input
                matInput
                formControlName="ifscFormCtrl"
                [(ngModel)]="user.ifsc_code"
                required
              />
              <mat-error>{{ formerrors.ifscFormCtrl }}</mat-error>
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </mat-step>

          <mat-step formGroupName="4" [stepControl]="formArray?.get([4])">
            <ng-template matStepLabel>
              <div>Address</div>
            </ng-template>

            <mat-form-field>
              <mat-label>Address Line 1</mat-label>
              <textarea
                matInput
                type="text"
                placeholder="Address Line 1"
                formControlName="address1FormCtrl"
                [(ngModel)]="user.addressLine1"
              ></textarea>
              <mat-error>{{ formerrors.address1FormCtrl }}</mat-error>
            </mat-form-field>
            <br />

            <mat-form-field>
              <mat-label>Address Line 2</mat-label>
              <textarea
                matInput
                formControlName="address2FormCtrl"
                type="text"
                placeholder="Address Line 2"
                [(ngModel)]="user.addressLine2"
              ></textarea>
              <mat-error>{{ formerrors.address2FormCtrl }}</mat-error>
            </mat-form-field>
            <br />
            <mat-form-field>
              <mat-label>City</mat-label>
              <input
                matInput
                [(ngModel)]="user.city"
                formControlName="cityformctrl"
                required
              />
              <mat-error>{{ formerrors.cityformctrl }}</mat-error>
            </mat-form-field>
            <br />
            <mat-form-field>
              <mat-label>Postal code</mat-label>
              <input
                matInput
                type="text"
                formControlName="pincodeformctrl"
                [(ngModel)]="user.pinCode"
                required
              />
              <mat-error>{{ formerrors.pincodeformctrl }}</mat-error>
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </mat-step>

          <mat-step formGroupName="5" [stepControl]="formArray?.get([5])">
            <ng-template matStepLabel>
              <div>Work Details</div>
            </ng-template>

            <mat-form-field>
              <mat-label>Company name</mat-label>
              <input
                matInput
                type="text"
                placeholder="Company name"
                formControlName="companyname"
                [(ngModel)]="user.companyName"
              />
              <mat-error>{{ formerrors.companyname }}</mat-error>
            </mat-form-field>
            <br />

            <mat-form-field>
              <mat-label> Company address</mat-label>
              <textarea
                matInput
                formControlName="companyaddress"
                type="text"
                placeholder="Company address"
                [(ngModel)]="user.companyAddress"
              ></textarea>
              <mat-error>{{ formerrors.companyaddress }}</mat-error>
            </mat-form-field>
            <br />
            <mat-form-field>
              <mat-label>Designation</mat-label>
              <input
                matInput
                formControlName="designation"
                [(ngModel)]="user.designation"
                required
              />
              <mat-error>{{ formerrors.designation }}</mat-error>
            </mat-form-field>

            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </mat-step>

          <mat-step formGroupName="6" [stepControl]="formArray?.get([6])">
            <ng-template matStepLabel>
              <div>Pan card</div>
            </ng-template>

            <div>
              <p>Upload Adhar and Pan card Images</p>
              <label class="image-upload-container btn btn-bwm">
                <span>Select Adhar card image</span>
                <input
                  #imageInput
                  type="file"
                  accept="image/*"
                  (change)="processAdhar(imageInput)"
                  formControlName="adharcard"
                  required
                />
              </label>
            </div>
            <br />
            <div>
              <label class="image-upload-container btn btn-bwm">
                <span>Select Pan Card image</span>
                <input
                  #panInput
                  type="file"
                  accept="image/*"
                  (change)="processPan(panInput)"
                  formControlName="pancard"
                  required
                />
              </label>
            </div>
            <mat-error>{{ formerrors.pancard }}</mat-error>
            <br />

            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </mat-step>

          <mat-step formGroupName="7" [stepControl]="formArray?.get([7])">
            <ng-template matStepLabel>
              <div>Select Card</div>
            </ng-template>
            <mat-form-field>
              <mat-label>Card Type</mat-label>
              <mat-select
                placeholder="Select Card Type"
                formControlName="cardFormCtrl"
                required
                [(ngModel)]="user.cardTypeId"
              >
                <mat-option>select</mat-option>
                <mat-option value="1">Gold Credit:1,00,000</mat-option>
                <mat-option value="2">Platinum Credit:2,00,000</mat-option>
              </mat-select>
              <mat-error>{{ formerrors.cardFormCtrl }}</mat-error>
            </mat-form-field>
            <br />

            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </mat-step>

          <mat-step>
            <ng-template matStepLabel>Confirm your information</ng-template>
            Everything seems correct !!
            <div>
              <button
                mat-raised-button
                type="submit"
                style="margin: 5px"
                color="accent"
                (click)="register()"
              >
                Apply for Card
              </button>
              <br />
              <mat-spinner
                *ngIf="showprogress"
                mode="indeterminate"
              ></mat-spinner>
            </div>
          </mat-step>
        </mat-vertical-stepper>
      </form>
    </div>
  </mat-card>
</div>
